{% extends 'aplicacion/base.html' %}

{% load static %}

{% block contenido %}

<h2 class="display-5">Carrito de compra</h2>

{% if request.session.carro.items %}
{% for key, value in request.session.carro.items %}
        <td>{{value.nombre}}</td>
        <td>{{value.cantidad}}</td>
        <td>
            <a href="{% url 'carro:agregar' value.id %}" class="btn btn-sm btn-success">+</a>
            <a href="{% url 'carro:restar' value.id %}" class="btn btn-sm btn-danger">-</a><br>
            {{value.precio}}
{% endfor %}
{% else %}

    <p>No Tiene productos actualmente</p>

{% endif %}

{% endblock contenido %}