{% extends 'aplicacion/base.html' %}

{% load static %}

{% block contenido %}

<div class="row d-flex justify-content-between">
    {% for p in productos %}
    
    <div class="col-4 card mb-4 " style="width:350px">
        <img class="card-img-top" src="{{ p.imagen.url }}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">{{ p.categoria }} {{ p.nombre }}</h4>
            <p class="card-text">${{p.precio }}</p>
            <a href="{% url 'verproducto' p.id %}" class="btn btn-primary">Ver Producto</a>
            <a href="{% url 'carro:agregar' p.id %}" class="btn btn-primary">Agregar Producto</a>
        </div>
    </div>
    
    {% endfor %}
    
    </div>

{% endblock contenido %}