{% extends 'aplicacion/base.html' %}

{% load static %}

{% block contenido %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-4 card mb-4" style="width:400px">
        <img class="card-img-top" src="{{ prod.imagen.url }}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text"></p>
            
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
        <br><br><br><br>
        <h2>{{prod.nombre}}</h2>
        <h4>${{prod.precio}}</h4>
        <p>{{ prod.descripcion }}</p>
        <a href="{% url 'carro:agregar' prod.id %}" class="btn btn-primary">Agregar Producto</a>
    </div>
    <div class="col-2"></div>
</div>

{% endblock contenido %}